@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapperXScroll {
    overflow-x: auto;
    overflow-y: hidden;
}

.wrapperXScroll::-webkit-scrollbar {
    display: none;
}

/* .overflow-x-scroll::-webkit-scrollbar {
    display: none;
} */